{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}

<div class="content">
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/gist-embed@1.0.4/dist/gist-embed.min.js"
></script>
  <div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7 post_content">
      <header>
        <p class="f6 b helvetica tracked">
          {{ humanize .Section | upper  }}
        </p>
        <h1 class="f1">
          {{ .Title }}
        </h1>
        {{ partial "share" . }}
      </header>
      {{ with .Params.pattern_usage }}
    <div id="pattern" class="post_meta">
      {{ range . }}
        <a href="{{ "pattern/" | absURL}}{{ . | urlize }}" class="post_tag button button_translucent">{{ . }}</a>
      {{ end }}
    
    {{ end }}

    {{ with .Params.language }}
      {{ range . }}
        <a href="{{ "language/" | absURL}}{{ . | urlize }}" class="post_tag button button_translucent">{{ . }}</a>
      {{ end }}
    </div>
    {{ end }}
   
    {{ with .Params.gist }}
    <div id="files">
      {{ range . }}
    <code data-gist-id="{{ . }}"></code>
      {{ end }}
    </div>
    {{ end }}
</article>
  </div>
</div>
{{ end }}

