{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
{{- $s := .Site.Params }}
{{- $p := .Params }}
    <div class="{{ if ne $p.singleColumn true }}grid-inverse {{ end }}wrap content">

    <article class="center cf pv5 ph3 ph4-ns mw7 post_content">
      <header>
        <p class="f6 b helvetica tracked">
          {{ humanize .Section | upper  }}
        </p>
        <h1 class="f1">
          {{ .Title }}
        </h1>
      </header>
      <div>
      {{ partial "share" . }}
    </div>
      {{ with .Params.pattern_types }}
    <div id="pattern_types" class="post_meta">
      {{ range . }}
        <a href="{{ "pattern_types/" | absURL}}{{ . | urlize }}" class="post_tag button button_translucent">{{ . }}</a> 
      {{ end }}
    </div>
    {{ end }}
    {{ if isset .Params "diagram" }}
    <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
      <img src="https://yuml.me/diagram/{{ .Params.diagramtype }}/{{ .Params.diagram }}">
    </div>
    {{ end }}
      <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
        {{ .Content }}
      </div>

      <h3>Samples</h3>
      
      {{ partial "all-taxonomies" . }}
    </article>
  </div>
{{ end }}
